/* 전체 페이지에 적용되는 기본 폰트 스타일 설정 */
* {
  font-family: "Gaegu", sans-serif;
}

/* 중앙 정렬을 위한 wrap 클래스 스타일 */
.wrap {
  width: 80%;
  margin: 0 auto;
}

/* 제목 입력 필드의 너비 설정 */
#input-title {
  width: 500px;
}

/* 텍스트 입력 필드의 너비 설정 */
#input-text {
  width: 500px;
}

/* 카드 내 링크의 스타일 설정 */
.card-link {
  color: white;
  padding: 0.1rem 0.25rem; /* 링크 주변의 패딩 조정 */
  font-size: 0.9rem; /* 링크 텍스트의 폰트 크기 조정 */
  line-height: 1.5; /* 텍스트 줄 간격 조정 */
}

/* 카드 스타일 설정 */
.card {
  margin-bottom: 20px; /* 카드 간의 수직 간격 */
  height: 200px; /* 카드 높이 */
  overflow-y: auto; /* 내용이 최대 높이를 초과할 경우 스크롤바 표시 */
}

/* Bootstrap 그리드 시스템 내 열의 패딩 조정 */
.col-md-4 {
  padding-right: 5px;
  padding-left: 5px;
}
